.followcard img {
    height: 80px;
    width: 80px;
    
    object-fit: fill;
    border-radius: 8px;
    margin: auto;
    float: left;
    margin: auto;
}
.followcard .image{
    padding: 10px;
}
.follow-card-info {
    display: flex;
}
.follow-card-info a {
    font-size: 30px;
    padding-left: 5px;
    margin-top: 15px;;
}
.followcard .follow-card-top {
    padding: 10px;
}
.followcard .follow-card-info{
    background-color: rgb(255, 226, 226);;
}
.followcard .follow-card-footer {
    padding: 0px 10px 10px 10px;
}
.followcard .btn-container {
    padding: 10px;
    background-color: rgb(228, 226, 226);
}

.followcard .row {
    margin: 0px;
}