.home {
    padding: 50px 20px;
}
.profilecard .image img{
    border-radius: 10px;
    object-fit: fill;
    position: relative;
    margin: auto;
    display: block;
}

.profilecard .image {
    padding: 10px;
}
.profilecard {
    padding: 10px;
}
.profilecard h5{
    margin: 0px;
    padding-top: 10px;
}
.profilecard .IMG {
    padding-left: 0px;
    background-color: white;;
}
.profilecard .image {
    background-color: rgb(255, 226, 226);
}
.profilecard .row, .profilecard .INFO  {
    background-color: rgb(228, 226, 226);
    margin: 0px;
}